/**Global **/

body, html {
    margin: 0px;
    padding: 0px;
    background-color: orange;
}

#root {
    display: flex;
    background-color: orange;
    text-align: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

.title-menu {
    width: 100%;
}
/** Home menu **/
.frame-menu {
    width: 100%;
    background-color: orange;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    gap: 40px;
    margin-bottom: 20px;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-admin {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 25%;
}

.not {
    margin: 0px;
    padding: 0px;
    height: fit-content;
    width: 100%;
    align-items: center;
}
.menu-button {
    display: flex;
    padding: 5px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background-color: rgb(33, 33, 240);
    font-size: 15px;
    color: white;
    border: 1x, solid, white;
    border-radius: 8px;
    margin-bottom: 20px;
    height: 30px;
    width: 70%;
}

.return-menu {
    margin-bottom: 50px;
}

.buttons {
    background-color: rgb(33, 33, 240);
    color: white;
    width: fit-content;
    padding: 10px;
    border-radius: 5px;
}

/**Success Message**/

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
}

#overlay-active {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    opacity: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: orange;
    pointer-events: none;
}

#success-msg {
    color: green;
    opacity: 0;
}

#success-msg-active {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(23, 134, 23);
    font-size: 40px;
    opacity: 1;
}

#success-msg-active-error {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(213, 15, 15);
    font-size: 40px;
    opacity: 1;
}

/**Modulo de Firma **/

.popup-overlay {
    background: rgba(0, 0, 0, 0.5);
  }


.SignaturePad {
    border: 1px solid black;
    width: 100%;
    min-height: 300px;
} 

.signature-pad-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

/** Cambio de clase en botón después de firma **/

.notEnable {
    background-color: rgb(117, 53, 64);
    color: white;
    width: fit-content;
    padding: 10px;
    border-radius: 5px;
    pointer-events: none;
}

/**Modulo de info ingreso a PC (popup) **/


.ingresos {
    display: flex;
}

#not-count {
    position: absolute;
    background-color: red;
    color: white;
    padding: 3px;
    border-radius: 5px;
    font-size: 18px;
    align-self: flex-end;
    margin-top: -8px;
    margin-right: 22px;
    overflow: visible;
    
}
/* Sections where orders are rendered and mapped on a list basis */

.list-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.number-list {
    padding: 9px;
    color: rgb(31, 30, 30);
    background-color: aliceblue;
    font-size: 28px;
    border-radius: 8px;
}

.button-list {
    height: fit-content;
    width: fit-content;
    padding: 9px;
    font-size: 25px;
    border-radius: 7px;
    background-color: rgb(32, 66, 144);
    color: #fff;
    margin-right: 20px;
    border-style: none;
}

.not-exist{
    font-size: 25px;
    color: rgb(43, 41, 41);
}

.hidden-component {
    display: none;
}

@media (max-width: 500px) {

    .popup-overlay {
        position: fixed;
        overflow-y: auto;
    }

    .title-component {
        font-weight: 100;
        color: rgb(34, 32, 32);
        font-size: 20px;
        margin: 15% 5%;
    }

    .list-section {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .button-list {
        height: fit-content;
        width: fit-content;
        padding: 5px;
        font-size: 10px;
        border-radius: 7px;
        background-color: rgb(32, 66, 144);
        color: #fff;
        margin: 0px;
    }

    .render-section {
        height: fit-content;
        margin: 0px 5%;
    }

    .number-list {
        padding: 5px;
        color: rgb(31, 30, 30);
        background-color: aliceblue;
        font-size: 15px;
        border-radius: 8px;
    }  
    
    .not-exist{
        font-size: 15px;
        color: rgb(43, 41, 41);
    }

    .not.taller {
        gap: 20px
    }
}